thead.thead-default {
  background-color: #eeeeee;
}

.content-card {
  background-color: white !important;
  border: 1px solid rgba(204, 204, 204, 0.426);
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(173, 173, 173, 0.5);
  -moz-box-shadow: 0px 0px 10px -2px rgba(173, 173, 173, 0.5);
  box-shadow: 0px 0px 10px -2px rgba(173, 173, 173, 0.5);
  padding: 1em 2em !important;
}

#dashboard {
  .total {
    font-weight: bold;
    color: #067afb;
    font-size: 2.5em;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
  }

  .card-stat {
    h4 {
      text-align: center;
    }
  }
}

#product-single {
  .img-responsive {
    width: 100%;
  }

  .btn-actions {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 90%;
  }
}

#seller-list {
  .rdt_TableCol {
    text-align: center;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    padding-right: 1.5em !important;
  }

  .rdt_TableCell {
    display: flex;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
  }
}

#seller-single {
  .form-group {
    label {
      font-weight: bold;
    }
  }
}
